@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script src="@routes.Application.jsRoutes" defer="defer"></script>
	<link href="@routes.Assets.at("img/favicon.png")" rel="shortcut icon">
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
	<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/angular-ui.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/app.css")" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="@routes.Application.index()">ADNAT Account Management</a>
		  <div class="nav-pills">
            <ul class="nav">
              <li><a href="@routes.Application.index()">@Messages("playauthenticate.navigation.home")</a></li>
            </ul>
          @subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
				<ul class="nav">
                  <li class="@("active".when(nav == "profile"))"><a href="@routes.Application.profile()"><i class="icon-user"></i> @Messages("playauthenticate.navigation.profile")</a></li>
				  <li class="divider"></li>
				  <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()">@Messages("playauthenticate.navigation.logout")</a></li>
				</ul>
            }
          }{
				<ul class="nav">
					<li><a href="@routes.Application.login()">@Messages("playauthenticate.navigation.login")</a></li>
				</ul>
<!--				<ul class="nav">
					<li><a href="@routes.Application.login()" class="btn btn-primary btn-mini @("disabled".when(nav == "login"))">@Messages("playauthenticate.navigation.login")</a></li>
				</ul>-->
          }
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
	    @if(flash.contains(Application.FLASH_ERROR_KEY)) {
	      <div class="alert alert-error">
	      	@flash().get(Application.FLASH_ERROR_KEY)
	      </div>
	    }
	    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success">
	      	@flash().get(Application.FLASH_MESSAGE_KEY)
	      </div>
	    }
		@content
		
    <hr>

<!--      <footer>
        <p>&copy; 2012-2013 Play! Authenticate. Licensed under Apache License, Version 2.0. View details <a href="https://github.com/joscha/play-authenticate/blob/master/LICENSE">here</a>.</p>
        <p>
        <small>Styles by <a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; Provider icons by <a href="http://prlloyd.com/Pf4al8" target="_blank">Paul Robert Lloyd</a></small></p>
      </footer>-->
    </div> <!-- /container -->

  </body>
</html>
